.loader {
  width: 175px;
  height: 50px;
}

.loader-rotate-right svg {
  animation-name: move-right;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move-right {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader-text {
  color: var(--color-gold--dark);
}
