.button {
  height: 38px;
  border-radius: 50px;
  font-size: var(--font-size-l);
  font-family: var(--font-family-primary);
  padding: 0 16px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;
  border: none;
  color: var(--color-main);
  background: var(--color-white);
}

.button:hover {
  color: var(--color-white);
  background: var(--color-main--light);
  box-shadow: 0px 3px 8px var(--color-main--dark);
}
