:root {
  --color-white: #ffffff;
  --color-main: #622fd9;
  --color-main--dark: #4d21b4;
  --color-main--light: #835ae1;

  --color-gold--shiny: #cbb26a;
  --color-gold--light: #d8c690;
  --color-gold--dark: #be9e44;
}
